<!DOCTYPE html>
<html>
<head>
  <title>Magazine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-default" role="navigation">
<div class="navbar-inner">
<div class="container" >
<div id="navbar-brand">
<nav class="collapse navbar-collapse navbar-ex1-collapse"
<% if current_user %>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to 'Article Lists', articles_path  ,:class =>"btn btn-primary btn-sm active "%></li>
<li><%= link_to 'EditAccount', edit_user_registration_path,:class =>"btn btn-primary btn-sm active" %></li>
<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete ,:class =>"btn btn-primary btn-sm active"%></li>
</ul>

<% else -%>
<ul class="nav navbar-nav pull-right">
<ul class="nav navbar-nav pull-right">
<li><%= link_to 'Sign up', new_user_registration_path %></li>
<li><%= link_to 'Sign in', new_user_session_path %></li>
<%end%>
</nav>
</div>
</div>
</div>
</header>
<%= yield %>

</body>
</html>
